<div class="dice-roll midi-damage-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <h4 class="dice-total">{{total}}</h4>
    <div class="midi-dice-tooltip">
      <section class="tooltip-part">
        <div class="dice-formula">{{formula}}</div>
      </section>
    </div>
    {{{tooltip}}}
  </div>
</div>

